$errorColor: #f44336;

.material-icons {
	line-height: inherit;
}

.error {
	color: $errorColor !important;
}

.alert-error {
	background-color: $errorColor !important;
	color: #fff;
}

*,
*::after,
*::before {
	margin: 0;
	padding: 0;
	box-sizing: inherit;
}

body {
	box-sizing: border-box;
}
